@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-main {
  grid-template-areas: "menu content";
}

.grid-area-menu {
  grid-area: menu;
}

@media (min-width: 1280px) {
  .grid-area-content {
    grid-area: content;
  }

  .grid-content {
    grid-template-areas: "article toc";
  }

  .grid-area-article {
    grid-area: article;
  }

  .grid-area-toc {
    grid-area: toc;
  }
}
