@tailwind base;
@tailwind components;
@tailwind utilities;

.grid-main {
  grid-template-areas: "menu content";
}

.grid-area-menu {
  grid-area: menu;
}

@media (min-width: 1280px) {
  .grid-area-content {
    grid-area: content;
  }

  .grid-content {
    grid-template-areas: "article toc";
  }

  .grid-area-article {
    grid-area: article;
  }

  .grid-area-toc {
    grid-area: toc;
  }
}

article h2 {
  @apply text-3xl font-bold mt-8 mb-5 group
}

article h3 {
  @apply text-2xl font-bold mt-8 mb-5 group
}

article h4 {
  @apply text-xl font-bold mb-2 group
}

article p {
  @apply my-3 leading-6
}

article ul {
  @apply list-disc pl-8
}

article ol {
  @apply list-decimal pl-8
}

ol#toc {
  @apply list-none p-0
}
